<div class="flex flex-col items-center justify-center">
    <div>
        <p>AXA Mansard has partnered with Berkshire Finance Company Limited (BFC)
            to offer you a flexible payment option for the purchase of insurance products.</p>
    </div>
    <div class="grid grid-cols-2 min-h-[250px] min-w-full">
        <div class="bg-[#474BEF] h-full">c</div>
        <div class="bg-[#D0E9FF]"></div>
    </div>
    <div>
        <p>To access the service, you will are required to select
            a convenient payment plan using the Loan Calculator.</p>
    </div>
</div>