<div class="w-[80%] mx-auto p-3">
  <div class="flex items-center justify-between">
    <ng-container *ngFor="let step of steps; let i = index" class="flex items-top">
      <div class="flex flex-col items-center gap-2">
        <div class="flex items-center justify-center w-12 h-12 rounded-full border-2 border-[#ababaa]" [ngClass]="{
            'bg-green-500 border-none text-white': i < currentStep,
            'bg-[#ababaa] text-white': i === currentStep,
            ' text-gray-700': i > currentStep
          }">
          <svg width="20" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 14L8.5 20L28 2" stroke="white" stroke-width="4" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

        </div>
        <h1 class="text-[#757070]">{{step}}</h1>
      </div>
      <div class="h-1 w-32 rounded-lg" [ngClass]="{ 'bg-gray-400': i < currentStep, 'bg-gray-300': i >= currentStep }"
        *ngIf="i !== steps.length - 1"></div>
    </ng-container>
  </div>
</div>